*{
    box-sizing: content-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;

}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.full-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(dp3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.full-screen .navi{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 12px;
}
.full-screen .navi .logo a{
    font-size: 30px;
    color: #fff;
    font-weight: 1000;
    margin-left: 50px;
}
.full-screen .navi ul{
    margin-left: 100px;
}
.full-screen .navi ul li{
    align-items: center;
    margin-right: 35px;
    display: inline-block;
}
.full-screen .navi ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
.full-screen .text{
    padding-left: 750px;
}
.full-screen .text h1{
    font-size: 35px;
    color: #fff;
    margin-top: 0px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 1px;
}
.full-screen .text p{
    font-size: 17.5px;
    color: #fff;
    letter-spacing: 0.1px;
}
.full-screen .text span{
    color: yellow;
    font-size: 20px;

}
.full-screen .text h3{
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 250px;
    line-height: 1;
}
.full-screen .text li{
    color: #fff;
    letter-spacing: 0.1px;
    padding-top: 10px;
}