*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(dp3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main .navbar{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    padding-top: 12px;
}
.main .navbar .logo a{
    font-size: 30px;
    color: #fff;
    margin-left: 50px;
    font-weight: 1000;

}
.main .navbar .menubar ul{
    margin-left: 100px;
}
.main .navbar .menubar ul li{
    align-items: center;
    display: inline-block;
    margin-right: 35px;
}
.main .navbar .menubar ul li a{
    color: #fff;
    font-size: 20px;
}
.main .text .heading{
    color:goldenrod;
    padding-left: 780px;
}
.main .text .pro1{
    color: #fff;
    padding-left: 670px;
}
.main .text .pro1 h2{
    color: yellow;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 1px;
}
.main .text .pro1 p{
    font-size: 14px;
    letter-spacing: 0.3px;
}
.main .text .pro2{
    color: #fff;
    padding-left: 670px;
}
.main .text .pro2 h2{
    color: yellow;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 500;
}
.main .text .pro2 p{
    font-size: 14px;
    letter-spacing: 0.3px;
}